:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
    --main-font-color: white;}
}

html {
  box-sizing: border-box;
}

*, *:: before, 
*:: after {
  box-sizing: inherit;
}

.list {
padding: 0; 
margin: 0; 
list-style-type: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  }

  .site-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.site-nav {
 display: flex; 
}
.site-nav .nav-link-item {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
}

.site-nav .nav-link-item:last-child {
  margin-right: 0;
}

.contact-list-item {
  margin-right: 30px;
}
.site-nav .contact-list-item:last-child {
  margin-right: 0;
}

.logo {
  font-family: "Roboto", sans-serif;
}
.logo-link {
  margin-right: 85px;
}
.site-nav-div {
  margin-left: auto;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 95px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-container {
  background-image: linear-gradient(
    to bottom, 
     rgba(47, 48, 58, 0.8), 
     rgba(47, 48, 58, 0.8) ), url(../images/header_image/Header_img.jpg); 
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: auto;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-clip: border-box;
  }


.nav-container {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.nav-link-item {
  list-style: none;
  text-decoration: none;
  display: block;
}

.nav-link-text {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;  
}
.current {
  color:#2196F3;
}

.nav-link .current::after {
display: block;
content: "";
width: 100%;
height: 4px;
background-color: #2196F3;
border-radius: 2px;
text-align: center;
margin-top: 28px;

}

.contact-list-item {
  list-style: none;
  text-decoration: none;
}
.contact-data {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-data:hover,
.contact-data:focus {
  color: #2196f3;
}

.list {
  padding: 0;
  /*margin: 0;*/
}
.hero-section {
  text-align: center;
  /*background-color: grey;*/
 }

  .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  background: #2196f3;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  }

  .button:hover,
  .button:focus {
    background: #2196f3;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

   .hero-button-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
  }
  .about-us-section {
 display: flex;
    align-items: center;
    text-align: center;
  }
  .abt-us-container {
    width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    /*width: 1170px;*/
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: baseline;
  }

  .sub-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    align-items: center;
    align-items: baseline;
  }
  .about-img {
    list-style: none;
  }
  .about-img {
    display: flex;
  }

  .about-image-icon {
   list-style: none;
   margin-right: 0px;
  }
  
  .about-image-icon:last-child {
    margin-right: 0;
  }
  .image {
    margin-top: 0;
    margin-bottom: 55px; 
    padding-right: 96px;
    padding-left: 96px
  }
  .about-us-sect {
    list-style: none;
    text-decoration: none;
    padding-top: 87px;
    padding-bottom: 87px;
  }


.abt-text {
  margin-top: 0;
  margin-bottom: 94px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  align-items: baseline;
}
.no.padding {
  padding-top: 0;
  padding-bottom: 0;
}
.activity-sec {

  }
.activity-container {
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}
.activity-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
 .activity-list-item {
  list-style: none;
  margin-top: 48px;
  margin-bottom: 94px;
  margin-right: 30px;
  /*border-radius: 4px;;
background-image: linear-gradient(
    to bottom, 
      #F5F4FA;  #F5F4FA)
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: auto;
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 120px;
  left: 0px;
  top: 80px;
  background-clip: border-box;*/
}

.activity-subh-r {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  var (--main-font-color);}
 
 .team-section-container {
    max-width: 1200px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #E5E5E5;
    
  }

  .team-list {
  list-style:none;
  display: flex;
/*margin-left: 215px;
  margin-right: 215px;*/
  justify-content: space-between;
  }

  .team-list-item {
  /*margin-right: 30px;*/
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 4px 4px;
margin-bottom: 95px;
  }
  .team-list-item:last-child {
    margin-right:0
  }
  .team-section-name {
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121; 
  }
 

  .team-subheader {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .profession {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .social-link-list {
    display: flex;
  }
  .social-link:hover,
  .social-link:focus {
  color: #2196f3
  ;}

 /* .clients-container {
  max-width: 1200px;
  margin-top: 0;
 
  margin-left: auto;
  margin-right: auto; 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
      }*/

  .clients-section {
   margin-bottom: 94px;
   }

  .clients-list {
    list-style: none;
    display: flex;
    justify-content: space-between;}

 .clients-header {
margin-bottom: 50px;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;

 }

 .client-icon:hover,
 .client-icon:focus {
color: #2196f3
  ;}

 .products-list-section {
 margin-top: 30px;
 }
  .products-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
  }
  .products-list:last-child {
    margin-right: 0;
  }
  
  .products-button {
    padding-right: 6px;
  }
  .products-list-item {
  list-style: none;
  width: 370px;
  }

  
  .products-nav-section {
   display: flex;
   margin-top: 84px;
   justify-content: space-around;
   
  }
  .products-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-item {
    width: 370px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .product-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .products-list-main:last-child {
    margin-right: 0;
  }
  .product-header {
    padding-left: 20px;
  }
  .product-subheader {
    padding-left: 20px;
  }
  /*.contacts-section {
   background-color: #2F303A;
   display: flex;
   background: #2F303A;
   max-width: 1200px;
   margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
   }*/
  
 .contacts-div1 {

  padding-left: 30px;
  align-content: space-between;
  }
  .address-div {
  background: #2F303A;
  padding-right: 60px;
  }
  .footer-logo {
    padding-left: 
  }
   .join-us {
    display: flex;
    background-color: #2F303A;
 
   }
  .contacts-sec {
   background-color: #2F303A;
   background: #2F303A;

 }  .contacts {
    display: flex;
    
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: space-between;
     /*padding-right: 660px;
    padding-bottom: 94px;*/
    }
      .contacts1 {
    background-color: #2F303A;
    background: #2F303A;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: space-between;
     /*padding-right: 660px;
    padding-bottom: 94px;*/
    }

  .address-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  }

  .address-item-link {
   list-style: none;
   text-decoration: none
  }
  
  .pro-button:hover,
  .pro-button:focus {
  color: white
  ;}
  
  .products-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }
 .product-item:hover,
 .product-item:focus {
  color: rgba(33, 150, 243, 0.9);
  }
  .pro-button {
    min-width: 73px;
    height: 38px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  background: F5F4FA;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  }
 
  .products-list-main {
  list-style: none;
 }
 .product-link {
 text-decoration: none;
 
 }
 .product-header {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
 }
.product-subheader {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
 }

.product-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;;
}
.product-text:hover,
.product-text:focus {
  background: rgba(33, 150, 243, 0.9)
}

